<h1>
  Teste
</h1>

<hr>

<div class="container">
  <% @my_json.each do |element| %>
    <%= element[1] %>
    <%= @my_movie %>
    <p>Link:<%= @my_json[1].to_s[1].to_s[1].to_s[2] %></p>
    <h2>teste</h2>
    <img src="<%= @my_link %>" >
  <% end %>
</div>

