<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/pcDc2WJAYGJTTvRSEIpRZwM3Ola.jpg);">
  <div class="container">
    <h1>Movie Search API </h1>
    <p>Every information that you need in only one place.</p>

  </div>
</div>

<div class="container search-box">
  <form action="/movie">
    <input class="input-form" type="text" name="title">
    <input type="submit" value="Search">
  </form>

</div>


